<!-- BOX 1 -->
<div class="topic-box">
    <div>
        <h2>IMPORTANCE OF MONEY</h2>
    </div>
    <div class="desk">
        <figure class="topic-img">
            <img src="./img/money02.jpg" alt="Future World" />
            <figcaption>Importance of Money</figcaption>
        </figure>
        <div class="topic">
            <p>In this materialistic world, money holds an important place in everyone’s life. Money is an essential part of our life. We need money to live a basic life. Some people are happy with enough money to live but some people need more money than requirement. Today, people work for 8 hours to have money to pay bills, buys essential items and still complaining about lack of money.</p>
            <p>Advancement of technology bought unnecessary demand of goods. People get allure by advertisement and they spent on fancy items or luxury. People value having more money than saving it. They just want more money to spend on advertised products and food. But they never think about saving the money.</p>
            <p>The people in the world can have enough money to live if they don’t greed for more. But they want to compete with higher income group and that generated the greed of more money. Sometimes, the value for money over essential items leads to unethical ways to earn money and less empathy in the world, which neglects the concept of the world peace.</p>   
        </div>
    </div>
</div>


<!-- BOX2 -->
<div class="topic-box">
    <div>
        <h2>GMO FOOD</h2>
    </div>
    <div class="desk">
        <figure class="topic-img">
            <img src="./img/gmo.jpg" alt="Money" />
            <figcaption>GMO Food</figcaption>
        </figure>
        <div class="topic">
            <p>Genetic Engineering is a subject of debate. GMO is about changing the food and thing in the world we live in. We see crops without allergies and vegetable & fruits with vitamins and disease fighting chemicals. Some people think that genetic engineering is a good aspect of advancement in technology, but on the other hand many people see some danger in the GMO. GMO is food is now a part of our lives.</p>
            <p>More than 60 percent of the processed food in U.S. markets contains the genetically engineered ingredients. The technique of Genetic Engineering is new and different from conventional breeding. It is all about transferring the genes from one organism to another. We witness dozens of the food products in the market with engineered genes, such as corn, canola and squash.</p>
            <p>It is debatable that GMO is good for health or not. According to some scientists, this is good because genes are modified to prevent some disease and to increase vitamins. On the other hand, some modified genes can be harmful and allergic to some people. <a href="https://www.nationalgeographic.com/environment/global-warming/food-how-altered/">(Source: National Geographic)</a></p>   
        </div>
    </div>
</div>


<!-- BOX 3 -->
<div class="topic-box">
    <div>
        <h2>THE VIEW OF WORLD IN 2100</h2>
    </div>
    <div class="desk">
        <figure class="topic-img">
            <img src="./img/future.jpg" />
            <figcaption>World in 2100</figcaption>
        </figure>
        <div class="topic">
            <p>At present, the humanity is fighting with a pandemic, the Corona Virus, so, it is kind of hard to think about the view of world in 2100. Thinking positively, 2100 is going to be more advance in terms of technology.  The internet will be the prominent player in 2100. People will be able to access anything at anywhere due to the internet.</p>
            <p>There can be cars without drivers on the road. The doctors will be able to cure the diseases quickly and probably the many incurable diseases would be tackled. The advancement in the technology will help people to live longer as compare to now.</p>
            <p>The robots can replace most of the labour work in industries. But the advanced technology may bring the danger to the climate. The global warming will be more disastrous in the future. There can be advancement in biological weapons. The nations can have more advanced weapons.<a href="https://nypost.com/2011/03/20/the-world-in-2100/">(Source: New York Post)</a></p>    
        </div>
    </div>
</div>
