<div>
    <h1>Portfolio</h1>
</div>

<div class="port-page">
    <figure>
        <img src="./img/IMG01.JPG" alt="Image01" style="width:100%;height:auto;">
        <figcaption>Red Leaves, 2019</figcaption>
    </figure>
        
    <figure>
        <img src="./img/IMG02.JPG" alt="Image02" style="width:100%;height:auto;">
        <figcaption>The Dandelion, 2019</figcaption>
    </figure>

    <figure>
        <img src="./img/IMG03.JPG" alt="Image03" style="width:100%;height:auto;">
        <figcaption>Colors of Autumn, 2019</figcaption>
    </figure>

    <figure>
        <img src="./img/IMG04.JPG" alt="Image04" style="width:100%;height:auto;">
        <figcaption>Golden Bells, 2020</figcaption>
    </figure>

    <figure>
        <img src="./img/IMG05.JPG" alt="Image05" style="width:100%;height:auto;">
        <figcaption>The berries, 2019</figcaption>
    </figure>
        
    <figure>
        <img src="./img/IMG06.jpg" alt="Image06" style="width:100%;height:auto;">
        <figcaption>Sunset at Rideau Canal, 2019</figcaption>
    </figure>
</div>
